p{
   display: inline;
}


#img_id{
  width: 200px;
  height: 200px;
  opacity: 0.2;
}

.button {
  background-color: red;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 36px;
  margin: 4px 22px;
  cursor: pointer;
}


.button:hover {
  background-color: green; /* Green */
  color: white;
  transition-duration: 4.1s;
}

div p:first-child {
  color: blue;
  font-size: 40px;
}

div p:last-child {
  color: red;
  font-size: 40px;
}




/* visited link */
.h1a:visited {
  color: green;
}

/* mouse over link */
.h1a:hover {
  color: blue;
  font-size: 50px;
}

/* selected link */
.h1a:active {
  color: red;
}


ul li {
  list-style-type: circle;
}

ol li {
  list-style-type: upper-alpha;
}


img{
  width: 200px;
  height: 200px;
  /*float: right;*/
}

h1{
  clear: right;
}
#clear_id{
  clear: both;
}
